{% extends 'fulfil/base.html' %}
{% load static %}
{% block title %}Pro Courses{% endblock title %}
{% block content %}

    <section style="margin-bottom: 70px">
        <div class="courses wrapper">
            <div class="courses__body">
                <div class="courses__title page4" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="500">
                    <button type="submit" style="color: gold; text-transform: uppercase;">Pro Kurslar</button>
                </div>
                <div class="courses__cards cards">
                   
                    {% for course_object in course_object_list %}
                            <div class="cards__item" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
                                
                                {% if course_object.pro_course_image %}
                                    <div class="cards__img"><img src="{{ course_object.pro_course_image.url }}" alt="image"></div>
                                {% endif %}
                                
                                <div class="cards__name">{{ course_object.pro_course_name|upper }}</div>
                                <div class="cards__text">
                                    {{ course_object.pro_course_description|safe }}
                                </div>
                                <div class="cards__btn"><a href="{% url 'Pro_Tutorial:course-tutorial' course_object.id %}" style>Kurs haqida malumot!</a></div>
                            </div>
                    {% empty %}
                            <p style="color: aliceblue; text-align: center;"><strong>Kurslar Mavjud Emas ;(</strong></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% if course_object_list.has_previous or course_object_list.has_next %}
        <div class="pages-numb">
            <hr>
            <!-- <a href="#!" class="active">1</a> -->
            {% include "pro_tutorial/includes/pagination.html" %} 
            <hr>	
        </div>
    {% endif %}

{% endblock content %}
                