{% load static %}

<footer>
    <div class="footer" id="footer">
        <div class="footer__body">
            <div class="footer__items">
                <div class="footer__item">
                    <div class="footer__item-logo"><img src="{% static '/img/icons/16-layers.png' %}" alt="images"></div>
                    <div class="footer__item-links">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-twitter"></i>
                    </div>
                </div>
                <div class="footer__item">
                    <div class="footer__item-number">
                        <p class="tel"> Telefon</p>
                        <p class="number">+998990882745</p>

                        <p class="tel">Email</p>
                        <p class="number">suhrobabduaxatov@gmail.com</p>
                    </div>
                </div>
                <div class="footer__item">
                    <div class="footer__item-adress">
                        <p class="tel">Toshkentdagi Ofis</p>
                        <p class="number">Toshkent sh. Shayxontoxur r-n </p>

                        <p class="tel">Biz bilan bog'laning</p>
                        <p class="number">Ijtimoiy tarmoq saxiflarimiz</p>
                    </div>
                </div>
                <div class="footer__item">
                    <div class="footer__item-icons">
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-telegram"></i>
                        <i class="fa fa-youtube"></i>
                    </div>
                </div>

            </div>
            Instant company &copy;
            <script>document.write(new Date().getFullYear());</script>
        </div>
    </div>
</footer>
