*{
    word-break:break-all;
}
*:focus{
    outline:none;
}
.main__title{
    font-size: 35px;
    margin-bottom: 30px;
}
.main__subtitle{
    font-size: 15px;
    text-align: left;
}
.main__subtitle  span{
    color: #faff00;
}
.navbar__link{
    text-transform: uppercase;
}
.info__title{
    text-transform: uppercase;
}
.info__card-title{
    color: #faff00;
    font-size: 22px;
}

.info__card-subtitle{
    font-size: 14px;
    width: 200px;
}
.warranty__title{
    text-transform: uppercase;
}
.warranty__card-title{
    color: #faff00;
    font-size: 22px;
}
.warranty__card-subtitle p{
    font-size: 15px;
    width: 230px;
    text-align: left;
}
.about__title{
    text-transform: uppercase;
}
.about__item-title{
    color: #faff00;
}
.courses__title{
    text-transform: uppercase;
}
.slider__title{
    text-transform: uppercase;
}
.number{
    margin: 0;
    padding: 0;
}
.cever{
    margin-top: 40px;
    padding: 40px;
}
.item{
    border-radius: 2%;
}
.cards__name{
   color: #faff00;
}
.smm__item-title{
    color: #faff00;
}
.cards__btn a{
    text-transform: uppercase;
}.videos__card-video iframe{
    width: 300px;
    height: 270px;
}
.communication__title{
    text-transform: uppercase;
}
.yozuv h2 span{
    text-transform: uppercase;
}
.qulayliklar h1 span{
    text-transform: uppercase;
    color: #faff00;
}
.qulayliklar h1{
    text-transform: uppercase;
    color: #faff00;
}
.kurss{
    text-transform: uppercase;
}
.ish_h2{
    text-transform: uppercase;
}
.fikr{
    text-transform: uppercase;
}
.back-m {
    background-image: url(../img/non_user_m.jpg);
    background-position: center;
 }
 .back-f {
    background-image: url(../img/non_user_f.jpg);
    background-position: center;
 }
 .back {
    background-image: url(../img/non_user.jpeg);
    background-position: center;
 }

 .rang1P{
     text-align: center;
     color:#fff;
 }
/*..................*/

.clas22{
    width: 80%;
    margin: auto
}
.formma{
    width:100%;
}
.clas22 label{
    display: block;
    margin-bottom: 15px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.clas22 input{
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #333;
}
.clas22 button{
    border-radius: 10px;
    width: 100px;
    height: 40px;
   margin-top: 15px;
   border: 1.5px solid #333;
   color:#333;
   background-color: #fff; 
}
.tekshiruv h2,.clas22 h2{
    color:#fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}
label{
    color:#fff;
}
#tekshirish{
   
   overflow: hidden;
   height: 160px;
   width: 430px;
   border-radius: 10px;
   border: 2px solid #333;
}
.qoshimcha{
   padding: 20px 50px;
   display:flex;
   justify-content:center;

}



#royxat{
    text-align: center;
}

.clas23{
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;

}

#radio1,#radio2{
    width:30px;
}

.rasm{
    height:300px;
}
.qulayliklar{
padding-top: 0;
position: relative;
top: -200px;
}
.kurss{
    position: relative;
    top:-50px;
padding-top: 0;
padding-bottom: 50px;
}
.ib1 p{
    text-align: center;
}

#royxat{
    padding-top:50px;
}
#sariq1{
    color: yellow;
}
