<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- scroll animation link -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<!-- icons-link -->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- style-link -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/main.css">
	<title>Education</title>
</head>

<body>

	<div class="wrapper">
		<header class="wow animate__animated animate__bounce">
			<div class="navbar" id="navbar">
				<div class="navbar__body">
					<div class="navbar__item">
						<div class="navbar__logo"><a href="#"><img src="./img/icons/16-layers.png" alt="image"></a></div>
						<div class="navbar__burger active-burger">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<ul class="navbar__links hide">
							<li><a href="./index.html" class="navbar__link ">Bosh sahifa</a></li>
							<li><a href="./teachers.html" class="navbar__link">O’qituvchilar </a></li>
							<li><a href="./cources.html" class="navbar__link active">Kurslar </a></li>
							<li><a href="./freecourses.html" class="navbar__link">Video darslar </a></li>
							<li><a href="./about.html" class="navbar__link">Biz haqimizda</a></li>
							<li><a href="./blog.html" class="navbar__link">Blog</a></li>
							<li><a href="./aloqa.html" class="navbar__link">Aloqa</a></li>
							
						</ul>
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="smm">
				<div class="smm__body">
					<div class="smm__items">

						<div class="smm__item">
							<div class="smm__item-title">Backend</div>
							<div class="smm__subtitle">
								<p> <span>Davomiyligi</span> : 6 oy</p>
								<p> <span>O’qituvchi</span> : Rahmatjon Ruslanov</p>
								<p> <span>Narxi</span> : 250 ming so’m / oyiga</p>
							</div>
						</div>

						<div class="smm__text">
							<p>Siz kursni kichik guruhlarda Zoom orqali o'rganasiz, Real loyixalar asosida, va xar bir darsni vazifasini bajarishingiz tekshirilib boriladi, kursda marafonlar bo'lib o'tadi, ishga joylashishga  amaliy yordam ko'rsatiladi, oyda bir marta bepul konfrensiyalar !
                            Kursdan keyin siz xar qanday saytni mantiqiy qismi Backendini tuza olasiz, kursdan so'ng sizda yirik portfolio yaratiladi, va ishga bizninig IT kampaniya Instant Companyga ishga qabul qilinishingiz mumkin bo'ladi!
							</p>
						</div>
						<div class="smm__title">
							Kursga yozilish uchun pastdagi bo’sh joylarni to’ldiring va <br> <span>biz siz bilan bog’lanamiz</span> 
						</div>
						<div class="smm__form">
							<form action="#">
								<input type="text" placeholder="Ism, familiya" class="text"><br>
								<input type="text" placeholder="Telefon raqam" class="tel"><br>
								<input type="email" placeholder="Email " name="email" class="email" required><br>

								<button type="submit" class="btn" >Jo’natish</button>
							</form>
						</div>

					</div>
				</div>
			</div>
		</section>

		

	</div>
	<div class="about__bg-img">
		<img src="./img/about-bg.png" alt="images" class="about__img">
	</div>

	<footer>
		<div class="footer" id="footer">
			<div class="footer__body">
				<div class="footer__items">
					<div class="footer__item">
						<div class="footer__item-logo"><img src="./img/icons/16-layers.png" alt="images"></div>
						<div class="footer__item-links">
							<i class="fa fa-facebook"></i>
							<i class="fa fa-linkedin"></i>
							<i class="fa fa-twitter"></i>
						</div>
					</div>
					<div class="footer__item">
						<div class="footer__item-number">
							<p class="tel"> Telefon</p>
							<p class="number">+998990882745</p>
							
							<p class="tel">Email</p>
							<p class="number">suhrobabduaxatov@gmail.com</p>
						</div>
					</div>
					<div class="footer__item">
						<div class="footer__item-adress">
							<p class="tel">Toshkentdagi Ofis</p>
							<p class="number">Toshkent sh. Shayxontoxur r-n </p>
							
							<p class="tel">Biz bilan bog'laning</p>
							<p class="number">Ijtimoiy tarmoq saxifalarimiz</p>
						</div>
					</div>
					<div class="footer__item">
						<div class="footer__item-icons">
							<i class="fa fa-instagram"></i>
							<i class="fa fa-telegram"></i>
							<i class="fa fa-youtube"></i>
						</div>
					</div>
					
				</div>
				Instant company &copy; <script>document.write(new Date().getFullYear());</script>
			</div>
		</div>
	</div>
</footer>
<!-- loading -->
<div class="loading">
	<img src="./img/icons/16-layers.png" alt="">
	<div class="lds-roller">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
	
		<!-- scroll top btn -->

	<div class="top">
		<div class="goTop"><i class="fa fa-angle-up"></i></div>
	</div>


	<!--jQuery-->
	<script src="jQuery/jquery.min.js"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
	<script src="jQuery/jQuery.js"></script>
	<script src="./jQuery/slick.min.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

	<script src="./jQuery/three.r119.min.js"></script>
	<script src="./jQuery/vanta.globe.min.js"></script>
	<script src="./jQuery/vanta.net.min.js"></script>
	<script src="./jQuery/vanta.rings.min.js"></script>

	<script>

	</script>
	<!--/jQuery-->
	<!--javascript-->
	<script src="js/main.js"></script>
	<!--/javascript-->
</body>

</html>
