<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- scroll animation link -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<!-- icons-link -->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- style-link -->
	<link rel="stylesheet" href="css/style.css">

	<title>Blog</title>
</head>

<body>

	<div class="wrapper">
		<header class="wow animate__animated animate__bounce">
			<div class="navbar" id="navbar">
				<div class="navbar__body">
					<div class="navbar__item">
						<div class="navbar__logo"><a href="#"><img src="./img/icons/16-layers.png" alt="image"></a></div>
						<div class="navbar__burger active-burger">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<ul class="navbar__links hide">
							<li><a href="./index.html" class="navbar__link">Bosh sahifa</a></li>
							<li><a href="./teachers.html" class="navbar__link">O’qituvchilar </a></li>
							<li><a href="./cources.html" class="navbar__link">Kurslar </a></li>
							<li><a href="./freecourses.html" class="navbar__link">Video darslar </a></li>
							<li><a href="./about.html" class="navbar__link">Biz haqimizda</a></li>
							<li><a href="./blog.html" class="navbar__link active">Blog</a></li>
							<li><a href="./aloqa.html" class="navbar__link">Aloqa</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>

		<section>
			<div class="blogs">
				<div class="blogs__body">
					<div class="blogs__title"><span>Bloglarimizni</span> kuzatib boring</div>

					<div class="blogs__items">

						<div class="blogs__card" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
							<a href="https://t.me/fulfil_education/13">
								<div class="blogs__card-img"><img src="./img/blog-1.jpg" alt="images"></div>
							    <div class="blogs__card-text">Dasturlash nima - Dasturlash bu "turli xil vazifalarni bajarishga kompyuterni o'rgatish" usuli!
									Ko'rsatmalar har xil bo'lishi mumkin. Misol uchun:2 ta raqam qo'shilmoqda,Raqamni yaxlitlash va boshqalar.</div>
							</a>
						</div>

						<div class="blogs__card" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200">
							<a href="https://t.me/fulfil_education/14">
								<div class="blogs__card-img"><img src="./img/blog-2.jpg" alt="images"></div>
								<div class="blogs__card-text">Dasturlash tillari-yuqoridagi postlarimizda aytib o'tilganidek, dasturlash tili deb nomlangan ma'lum bir sintaktik shaklda yozilgan ko'rsatmalar tushunadilar. Dasturlash tili dasturchiga kompyuter tomonidan tushunilishi va topshiriqni ifoda etishiga imkon beradi.
									Bazi mashhur dasturlash tillari : JavaScript, Python, C, C++, Java va ....</div>
							</a>
						</div>

						<div class="blogs__card" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="300">
							<a href="https://t.me/fulfil_education/15">
								<div class="blogs__card-img"><img src="./img/blog-3.jpg" alt="images"></div>
								<div class="blogs__card-text">Kodlash  bu kompyuter uchun bajariladigan ko'rsatmalar to'plamidir.  Yuqori darajadan yaxshi kodni quyidagi omillar bilan baholash mumkin. 
									Mustahkamlik : Xatolar yoki noto'g'ri ma'lumotlardan qat'iy nazar dasturni davom ettirish qobiliyatiga e'tiborni qaratadi.</div>
							</a>
						</div>
					</div>

					<div class="blogs__items">

						<div class="blogs__card" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
							<a href="https://t.me/fulfil_education/13">
								<div class="blogs__card-img"><img src="./img/blog-1.jpg" alt="images"></div>
							    <div class="blogs__card-text">Dasturlash nima - Dasturlash bu "turli xil vazifalarni bajarishga kompyuterni o'rgatish" usuli! 
									Ko'rsatmalar har xil bo'lishi mumkin. Misol uchun:2 ta raqam qo'shilmoqda,Raqamni yaxlitlash va boshqalar.</div>
							</a>
						</div>

						<div class="blogs__card" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200">
							<a href="https://t.me/fulfil_education/14">
								<div class="blogs__card-img"><img src="./img/blog-2.jpg" alt="images"></div>
								<div class="blogs__card-text">Dasturlash tillari-yuqoridagi postlarimizda aytib o'tilganidek, dasturlash tili deb nomlangan ma'lum bir sintaktik shaklda yozilgan ko'rsatmalar tushunadilar. Dasturlash tili dasturchiga kompyuter tomonidan tushunilishi va topshiriqni ifoda etishiga imkon beradi.
									Bazi mashhur dasturlash tillari : JavaScript, Python, C, C++, Java va ....</div>
							</a>
						</div>

						<div class="blogs__card" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="300">
							<a href="https://t.me/fulfil_education/15">
								<div class="blogs__card-img"><img src="./img/blog-3.jpg" alt="images"></div>
								<div class="blogs__card-text">Kodlash  bu kompyuter uchun bajariladigan ko'rsatmalar to'plamidir.  Yuqori darajadan yaxshi kodni quyidagi omillar bilan baholash mumkin. 
                                    Mustahkamlik : Xatolar yoki noto'g'ri ma'lumotlardan qat'iy nazar dasturni davom ettirish qobiliyatiga e'tiborni qaratadi.</div>
							</a>
						</div>
					</div>

					<div class="blogs__items">

						<div class="blogs__card" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
							<a href="https://t.me/fulfil_education/13">
								<div class="blogs__card-img"><img src="./img/blog-1.jpg" alt="images"></div>
							    <div class="blogs__card-text">Dasturlash nima - Dasturlash bu "turli xil vazifalarni bajarishga kompyuterni o'rgatish" usuli! 
									Ko'rsatmalar har xil bo'lishi mumkin. Misol uchun:2 ta raqam qo'shilmoqda,Raqamni yaxlitlash va boshqalar.</div>
							</a>
						</div>

						<div class="blogs__card" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200">
							<a href="https://t.me/fulfil_education/14">
								<div class="blogs__card-img"><img src="./img/blog-2.jpg" alt="images"></div>
								<div class="blogs__card-text">Dasturlash tillari-yuqoridagi postlarimizda aytib o'tilganidek, dasturlash tili deb nomlangan ma'lum bir sintaktik shaklda yozilgan ko'rsatmalar tushunadilar. Dasturlash tili dasturchiga kompyuter tomonidan tushunilishi va topshiriqni ifoda etishiga imkon beradi.
									Bazi mashhur dasturlash tillari : JavaScript, Python, C, C++, Java va ....</div>
							</a>
						</div>

						<div class="blogs__card" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="300">
							<a href="https://t.me/fulfil_education/15">
								<div class="blogs__card-img"><img src="./img/blog-3.jpg" alt="images"></div>
								<div class="blogs__card-text">Kodlash  bu kompyuter uchun bajariladigan ko'rsatmalar to'plamidir.  Yuqori darajadan yaxshi kodni quyidagi omillar bilan baholash mumkin. 
                                    Mustahkamlik : Xatolar yoki noto'g'ri ma'lumotlardan qat'iy nazar dasturni davom ettirish qobiliyatiga e'tiborni qaratadi</div>
							</a>
						</div>
					</div>

				</div>
			</div>
	</div>
	</section>

	<div class="pages-numb">
		<a href="#!" class="active">1</a>
		<a href="#!">2</a>
		<a href="#!">3</a>
	</div>

	</div>


	<main>
		<div class="background">
			<div class="background__images">
				<img src="./img/Vector_1.png" alt="images" class="img1">
				<img src="./img/Vector_2.png" alt="images" class="img2">
				<img src="./img/Ellipse_10.png" alt="images" class="img3">
				<img src="./img/Vector_3.png" alt="images" class="img4">
				<img src="./img/2-layers-3.png" alt="images" class="img5">
				<img src="./img/2-layers-2.png" alt="images" class="img6">
				<img src="./img/2-layers-4.png" alt="images" class="img7">
				<img src="./img/2-layers-5.png" alt="images" class="img8">

			</div>
		</div>
	</main>










	<footer>
		<div class="footer" id="footer">
			<div class="footer__body">
				<div class="footer__items">
					<div class="footer__item">
						<div class="footer__item-logo"><img src="./img/icons/16-layers.png" alt="images"></div>
						<div class="footer__item-links">
							<i class="fa fa-facebook"></i>
							<i class="fa fa-linkedin"></i>
							<i class="fa fa-twitter"></i>
						</div>
					</div>
					<div class="footer__item">
						<div class="footer__item-number">
							<p class="tel"> Telefon</p>
							<p class="number">+998990882745</p>

							<p class="tel">Email</p>
							<p class="number">suhrobabduaxatov@gmail.com</p>
						</div>
					</div>
					<div class="footer__item">
						<div class="footer__item-adress">
							<p class="tel">Toshkentdagi Ofis</p>
							<p class="number">Toshkent sh. Shayxontoxur r-n </p>

							<p class="tel">Biz bilan bog'laning</p>
							<p class="number">Ijtimoiy tarmoq saxiflarimiz</p>
						</div>
					</div>
					<div class="footer__item">
						<div class="footer__item-icons">
							<i class="fa fa-instagram"></i>
							<i class="fa fa-telegram"></i>
							<i class="fa fa-youtube"></i>
						</div>
					</div>

				</div>
				Instant company &copy;
				<script>document.write(new Date().getFullYear());</script>
			</div>
		</div>
		</div>
	</footer>


	<!-- loading -->
	<div class="loading">
		<img src="./img/icons/16-layers.png" alt="">
		<div class="lds-roller">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<!-- scroll top btn -->

	<div class="top">
		<div class="goTop"><i class="fa fa-angle-up"></i></div>
	</div>


	<!--jQuery-->
	<script src="jQuery/jquery.min.js"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
	<script src="jQuery/jQuery.js"></script>
	<script src="./jQuery/slick.min.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

	<script src="./jQuery/three.r119.min.js"></script>
	<script src="./jQuery/vanta.globe.min.js"></script>
	<script src="./jQuery/vanta.net.min.js"></script>
	<script src="./jQuery/vanta.rings.min.js"></script>

	<script>

	</script>
	<!--/jQuery-->
	<!--javascript-->
	<script src="js/main.js"></script>
	<!--/javascript-->
</body>

</html>