{% extends 'base.html' %}
{% load static %}

{% block title %}Courses{% endblock %}

{% block content %}
    <div class="wrapper">

        {% include 'include/header.html' %}

        <section style="margin-bottom: 70px">
            <div class="courses wrapper">
                <div class="courses__body">
                    <div class="courses__title page4" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="500">
                        <button type="submit" style="color: gold; text-transform: uppercase;">Pro Kurslar</button>
                    </div>
                    <div class="courses__cards cards">
                        {% for course in courses %}
                            <div class="cards__item" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200">
                                <div class="cards__img"><img src="{{ course.image.url }}" alt="image"></div>
                                <div class="cards__name">{{ course.title }}</div>
                                <div class="cards__text">{{ course.short_description }}</div>
                                <div class="cards__btn"><a href="{{ course.get_absolute_url }}" style>Kurs haqida malumot!</a></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>


    </div>

    {% include 'include/footer.html' %}

    <!-- bg images source -->
    <div class="page4-bg">
        <img src="{% static '/img/Vector_1.png' %}" alt="images" class="img1">
        <img src="{% static '/img/Vector_2.png' %}" alt="images" class="img2">
    </div>
{% endblock %}