{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  

		<section>
			<div class="smm">
				<div class="smm__body">
					<div class="smm__items">

						<div class="smm__item">
							<div class="smm__item-title">Frontend</div>
							<div class="smm__subtitle">
								<p> <span>Davomiyligi</span> : 5 oy</p>
								<p> <span>O’qituvchi</span> : Suhrob Abduaxatov</p>
								<p> <span>Narxi</span> : 250 ming so’m / oyiga</p>
							</div>
						</div>

						<div class="smm__text">
							<p> Siz Frontend  kurs orqali HTML, CSS, SCSS, Less, BEM, Bulma, Bootstrap, MDBootstrap,
									   Git, GitHub, JavaScript, JQery, Gulp kabi 10 dan ortiq texnalogiyalarni o'rganasiz
									   va bular orqali tajribali Frontend dasturchi bo'lib yetishasiz, kurs amalyotga va kod 
									   yozish texnikasi xamda real proyektlarga asoslanadi xamda darslar davomida IT firma 
									   loyixalari bajariladi va kursni bitirib chiqgandan keyin eng yaxshi bitiruvchilar ish bilan taminlanadi!
							</p>
						</div>
						<div class="smm__title">
							Kursga yozilish uchun pastdagi bo’sh joylarni to’ldiring va <br> <span>biz siz bilan bog’lanamiz</span> 
						</div>
						<div class="smm__form">
							<form action="#" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								{% if messages %}
								  {% for message in messages %}
									<strong>{{message}}</strong>
								  {% endfor %}
								{% endif %}
								{{form|crispy}}
								<button type="submit" class="btn" >Jo’natish</button>
							</form>
						</div>

					</div>
				</div>
			</div>
		</section>

		

	</div>
	<div class="about__bg-img">
		<img src="{% static 'img/about-bg.png'%} " alt="images" class="about__img">
	</div>
	{% endblock content %}