<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- scroll animation link -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<!-- icons-link -->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- style-link -->
	<link rel="stylesheet" href="css/normalize.css">	
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/main.css">
	<title>Teachers</title>
</head>


<div class="wrapper">
	<header class="wow animate__animated animate__bounce">
		<div class="navbar" id="navbar">
			<div class="navbar__body">
				<div class="navbar__item">
					<div class="navbar__logo"><a href="#"><img src="./img/icons/16-layers.png" alt="logo"></a></div>
					<div class="navbar__burger active-burger">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<ul class="navbar__links hide">
						<li><a href="./index.html" class="navbar__link">Bosh sahifa</a></li>
						<li><a href="./teachers.html" class="navbar__link active">O’qituvchilar </a></li>
						<li><a href="./cources.html" class="navbar__link">Kurslar </a></li>
						<li><a href="./freecourses.html" class="navbar__link">Video darslar </a></li>
						<li><a href="./about.html" class="navbar__link">Biz haqimizda</a></li>
						<li><a href="./blog.html" class="navbar__link">Blog</a></li>
						<li><a href="./aloqa.html" class="navbar__link">Aloqa</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
</div>
<section>
	<div class="teachers wrapper">
		<div class="teachers__title" data-aos="fade-up" data-aos-duration="2000">Bizning <span>o’qituvchilar jamoasi </span>bilan tanishing </div>
		<div class="teachers__body">
			<div class="teachers__items">

				<div class="teachers__item item" data-aos="fade-right" data-aos-duration="2000">
					<div class="item__img"><img src="./img/Fulfilimg/3426526.jpg" alt="images" class="even"></div>
					<div class="item__text">
						<div class="item__title">Suhrob Abduaxatov</div>
						<div class="item__subtitle">Frondend sohasida ko'plab shogirdlariga ta'lim
							bergan va dasturlash sohasida xam katta loyixalarda qatnashgan va xozirda
							xam yirik loyixalar asoschisi!
						</div>
					</div>
				</div>

				<div class="teachers__item item" data-aos="fade-left" data-aos-duration="2000">
					<div class="item__img"><img src="./img/Fulfilimg/—Pngtree—modern flat design concept of_5332895.png" alt="images"></div>
					<div class="item__text">
						<div class="item__title">Rahmatjon Ruslanov</div>
						<div class="item__subtitle">Tajribali backend dasturchi bir necha o'quvchilarga 
							dasturlash tillaridan ta'lim bergan, xozida ustoz va IT firmada Proyekt manegar
							lovozimida ishlab kelmoqda!
						</div>
					</div>
				</div>

				<div class="teachers__item item" data-aos="fade-right" data-aos-duration="2000">
					<div class="item__img"><img src="./img/Fulfilimg/3964906.jpg" alt="images" class="even" ></div>
					<div class="item__text">
						<div class="item__title">Saif Turaqonov</div>
						<div class="item__subtitle">Python va Sun'iy intellekt yo'nalishida kuchli
							dasturchi va kuchli algaritmchi, dasturlash tillari boyicha 7 yillik,
							ustozlik bo'yicha 4 yillik tajribaga egadir!
						</div>
					</div>
				</div>

				<div class="teachers__item item" data-aos="fade-left" data-aos-duration="2000">
					<div class="item__img"><img src="./img/Fulfilimg/2827541.jpg" alt="images"></div>
					<div class="item__text">
						<div class="item__title">Sokhibjon</div>
						<div class="item__subtitle">Android dasturchi ustozlik sohasida 
							va bir necha yillik tajriba egasi, xam kuchli dasturchi bir nechta katta
							loyixalari mavjud IT firmada dasturchi!
						</div>
					</div>
				</div>

				<div class="teachers__item item" data-aos="fade-right" data-aos-duration="2000">
					<div class="item__img"><img src="./img/Fulfilimg/2827484.jpg" class="even" alt="images"></div>
					<div class="item__text">
						<div class="item__title">Sitora Abdikodirova</div>
						<div class="item__subtitle">Ingliz tili bo'yicha 6 yillik
							tajriba, bir necha bor respublika olimpiada g'olibasi va katta loyixalar qatnashchisi!						</div>
					</div>
				</div>

				<div class="teachers__item item" data-aos="fade-left" data-aos-duration="2000">
					<div class="item__img"><img src="./img/Fulfilimg/4002785.jpg" alt="images"></div>
					<div class="item__text">
						<div class="item__title">Shahzodbek Ilhomov</div>
						<div class="item__subtitle">Android Software ingener Malayziyada 5 yillik
							tajriba va Android yo'nalishda senior dasturchi, xalqora unversitet bitirib chiqgan!
							va xozirda 100 dan ortiq dasturlari mavjud!
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<main>
	<div class="bg">
		<div class="bg__images">
			<img src="./img/bgImg-1.png" alt="images" class="bg-img1">
			<img src="./img/bgImg-2.png" alt="images" class="bg-img2">
			<img src="./img/bgImg-3.png" alt="images" class="bg-img3">
			<img src="./img/bgEllipse-1.png" alt="images" class="bg-img4">
			<img src="./img/bgEllipse-2.png" alt="images" class="bg-img5">
			<img src="./img/bgEllipse-3.png" alt="images" class="bg-img6">
			<img src="./img/bgEllipse-4.png" alt="images" class="bg-img7">
			<img src="./img/bgEllipse-5.png" alt="images" class="bg-img8">
			<img src="./img/bgEllipse-6.png" alt="images" class="bg-img9">
		</div>

	</div>
</main>

<footer>
	<div class="footer" id="footer">
		<div class="footer__body">
			<div class="footer__items">
				<div class="footer__item">
					<div class="footer__item-logo"><img src="./img/icons/16-layers.png" alt="images"></div>
					<div class="footer__item-links">
						<i class="fa fa-facebook"></i>
						<i class="fa fa-linkedin"></i>
						<i class="fa fa-twitter"></i>
					</div>
				</div>
				<div class="footer__item">
					<div class="footer__item-number">
						<p class="tel"> Telefon</p>
						<p class="number">+998990882745</p>

						<p class="tel">Email</p>
						<p class="number">suhrobabduaxatov@gmail.com</p>
					</div>
				</div>
				<div class="footer__item">
					<div class="footer__item-adress">
						<p class="tel">Toshkentdagi Ofis</p>
						<p class="number">Toshkent sh. Shayxontoxur r-n </p>

						<p class="tel">Biz bilan bog'laning</p>
						<p class="number">Ijtimoiy tarmoq saxiflarimiz</p>
					</div>
				</div>
				<div class="footer__item">
					<div class="footer__item-icons">
						<i class="fa fa-instagram"></i>
						<i class="fa fa-telegram"></i>
						<i class="fa fa-youtube"></i>
					</div>
				</div>
				
			</div>
			Instant company &copy; <script>document.write(new Date().getFullYear());</script>
		</div>
	</div>
	</div>
</footer>


<!-- loading -->
<div class="loading">
	<img src="./img/icons/16-layers.png" alt="">
	<div class="lds-roller">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
	<!-- scroll top btn -->

	<div class="top">
		<div class="goTop"><i class="fa fa-angle-up"></i></div>
	</div>

<!--jQuery-->
<script src="jQuery/jquery.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
<script src="jQuery/jQuery.js"></script>
<script src="./jQuery/slick.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script src="./jQuery/three.r119.min.js"></script>
<script src="./jQuery/vanta.globe.min.js"></script>
<script src="./jQuery/vanta.net.min.js"></script>
<script src="./jQuery/vanta.rings.min.js"></script>
<!--/jQuery-->
<!--javascript-->
<script src="js/main.js"></script>
<!--/javascript-->
</body>

</html>
</body>

</html>
